/* Estilos de barra de navegacion */
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 1.1em;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-logo-centered .navbar-nav .nav-link {
    padding: .5em 1em;
}

/* Final de estilos de barra de navegacion */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: poppins;
    text-align: center;


}

/* Estilos de Caja mision y vision */
.wrapper {
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-area {
    width: 250px;
    margin: 15px;
    padding: 40px;
    background-color: #f5f5f5;
    transition: all 0.6s ease-in-out;
}

.box-area .icon-area {
    width: 100%;
    margin-bottom: 40px;
}

.icon-area i {
    font-size: 70px;
    color: #262626;
}

.box-area h6 {
    margin-bottom: 10px;
    color: #262626;
    font-size: 50px;
    font-family: bebas neue;
}

.box-area:hover {
    background-color: #161619;
    box-shadow: 15px 15px 30px rgba(255, 196, 0, 0.585);
}

.box-area:hover i {
    color: #fff;
}

.box-area:hover h6 {
    color: #fff;
}

.box-area:hover p {
    color: #fff;
}

/* Final de estilos de caja de mision y vision */

/* Inicio de Background */
.welcome-text {
    width: 250%;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-58%, -10%);

}

.welcome-text h1 {
    text-align: center;
    color: #9d4400;
    text-transform: uppercase;
    font-size: 150px;
    font-family: Bebas Neue;
}

.welcome-text a {
    border: 1px solid #ffbc03;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #000000;
    font-weight: 999;


}

.welcome-text a:hover {
    background: #4e2b2b;
    color: #000000;
}

#header {
    background: url(../img/biblioteca.jpg);
    height: 80vh;

    -webkit-background-size: cover;
    background-size: center;
    background-position: center;
    position: relative;
    bottom: 120px;

}

/* Final de background */

/* Inicio de estilos de pie de página */
.footer {
    padding: 20px 0;
    background-color: #000000;
}

.footer h4 {
    color: #ffffff;
    margin-bottom: 20px;
}

.footer p {
    color: #fff;
}

/* Final de pie de página */

/* Inicio de estilos de iniciar sesion y registrarse */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#inicio {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../img/fondo.jpg)


}

/* Estilos del contenedor de iniciar sesion y registrarse */
.container-form {

    max-width: 900px;
    height: 500px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    transition: all 1s ease;
    margin: 10px;


}

/* Inicio de estilos de iniciar sesion */
.inicio {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(48, 48, 48);
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.info-inicio {
    width: 100%;
    padding: 0 30px;
}

.info-inicio h2 {
    font-size: 2.5rem;
    color: #ffffff;
    font-family: Bebas Neue;
}

.info-inicio p {
    margin: 15px 0;
    color: #ffffff;


}

.info-inicio input {
    background-color: transparent;
    outline: none;
    border: solid 2px #9191bd;
    border-radius: 20px;
    padding: 10px 20px;
    color: #9191bd;
    cursor: pointer;
    transition: background-color .3s ease;
    font-family: poppins;
}

.info-inicio input:hover {

    background-color: #9191bd;
    border: none;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

/* Final de estilos de inicio de sesion */

/* Inicio de estilos de registrarse */
.form-informacion-inicio {
    padding: 0 30px;
}

.form-informacion-inicio h2 {
    color: #333;
    font-size: 2rem;
    font-family: Bebas Neue;
}

.form-informacion-inicio p {
    color: #555;
}

.registro {
    margin: 30px 0 0 0;

}

.registro label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    background-color: #fff;
}

.registro label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
    font-family: poppins;
}

.registro input[type="submit"] {
    background-color: #9191bd;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    font-family: poppins;

}

.registro input[type="submit"]:hover {
    background-color: #7a7a9a;
}

.hide {
    position: absolute;
    transform: translateY(-300%);

}

/* Cuerpo del formulario */

#formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    font-family: Bebas Neue;
    background: url(../img/background.jpg);
    

    /* background: linear-gradient(135deg, #71b7e6, #9b59b6); */
}

.contenedor {
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    font-family: Bebas Neue;

}

.contenedor .titulo-formulario {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    font-family: Bebas Neue;

}

.contenedor .titulo-formulario::before {
    content: '';
    font-family: Bebas Neue;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);

}

.contenedor form .detalles-formulario {
    font-family: Bebas Neue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;

}

form .detalles-formulario .input-box {
    width: calc(100%/2 - 20px);
    margin-bottom: 15px;

}

.detalles-formulario .input-box .detalles {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.detalles-formulario .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;
    font-family: Bebas Neue;

}

.detalles-formulario .input-box input:focus,
.detalles-formulario .input-box input:valid {
    border-color: #9b59b6;

}


form .button {
    height: 45px;
    margin: 45px 0;
}

form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
    .contenedor {
        max-width: 700px;
    }
}
